.about_hero{
    background-image: url('https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center center;
    background-size: cover;
    height: 300px;
}