@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

.img{
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from{
        transform: translateY(-15px);
    }
}